@define-color fg_main        #FFFFFF;
@define-color fg_muted       #9AA0AA;
@define-color bg_main        #0E0F14;
@define-color bg_alt         #151720;
@define-color warn_fg        #FF9F00;
@define-color crit_fg        #FF2A1A;
@define-color window_main    rgba(33, 38, 49, 0.3);
@define-color tooltips_bg    rgba(24, 24, 24, 0.92);
@define-color workspaces_bg  rgba(45, 45, 45, 0.3);
@define-color trayc rgba(45, 45, 45, 0.3);
/* Wi-Fi / Network */
@define-color net_fg  #00e5ff; 

/* VPN */
@define-color vpn_fg  #9a00ff;  

/* Volume */
@define-color vol_fg #ffe066;
@define-color vol_fg_muted #e03a3a;

/* Backlight / Brightness */
@define-color backlight_fg   #7c86ff; 

/* CPU */
@define-color cpu_fg #9aafd0;  

/* Memory */
@define-color mem_fg  #ff4d6d;

/* Disk */
@define-color disk_fg #4DA88B;

/* Temperature */
@define-color temp_cool #4da6ff;


/* Battery */
@define-color bat_good #00ff6a;
@define-color bat_norm #ffffff;


/* Bluetooth */
@define-color bt_connected #1e6cff;
@define-color bt_on #1e6cff;
@define-color bt_off #1e6cff;
