#workspaces {
  background-color: @workspaces_bg;
  margin: 0 0px;
}

#window {
  margin: 0 0px;
}

#workspaces button {
  padding: 0 4px;
  border-radius: 0px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button.active {
  border-bottom: 2px solid @fg_main;
  border-radius: 0px;
  color: @fg_main;
}

/* Strange hover effect FAQ */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.focused {
  background-color: #64727D;
  box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

