#custom-browser,
#custom-fileman,
#custom-terminal,
#custom-discord, 
#custom-nvim,
#custom-virtmanager{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 18px;
  margin: 0;
}

#custom-arch {
  color: #1793d1;
  background-color: @trayc;
  transition: background-color 600ms ease, box-shadow 160ms ease;
  transition: border 600ms ease, box-shadow 600ms ease;
}
#custom-arch:hover {
   background: rgba(0,0,0,0.2);
   border-radius: 0px;
   border-bottom: 2px solid #1793d1;
}

#custom-browser {
  color: #ff631c;
  padding-left: 6px;
  background-color: @trayc;
}

#custom-fileman {
  color: #1e83fa;
  background-color: @trayc;
}

#custom-nvim{
  color: #9e9e9e;
  padding-left: 6px;
  background-color: @trayc;
}


#custom-terminal {
  color: #39FF14;
  background-color: @trayc;
}

#custom-virtmanager {
  color: #1efaed;
  background-color: @trayc;
  padding-left: 0px;
  padding-right: 18px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#custom-discord {
  color: #738ADB;
  background-color: @trayc;
  padding-right: 12px;
}


#custom-spacer { 
  padding-left: 8px; 
}

#custom-leftend {
  padding-left: 2px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

#custom-rightend {
  padding-left: 2px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

#idle_inhibitor {
  padding-top: 0px;
  color: rgba(255,255,255,0.55);
}

#idle_inhibitor.activated {
  color: #4aff00;
  }

#custom-vpn {
  color: @vpn_fg;
  border-bottom: 2px solid @vpn_fg;
}


